# Local 개발 환경 설정
# application.yml의 기본값이 모두 localhost이므로 override 필요 없음

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    root: INFO
    com.asyncsite.iap.gateway: DEBUG  # Local은 DEBUG 레벨
    com.asyncsite.checkoutservice.common.auth: DEBUG
    com.asyncsite.checkoutservice.common.feign: DEBUG
