spring:
  application:
    name: iap-gateway-service

  profiles:
    active: local

server:
  port: 6084
  servlet:
    context-path: /

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

asyncsite:
  tracing:
    enabled: true
    http-enabled: true
    kafka-enabled: true
    log-request-response: true
    packages:
      - com.asyncsite.iap.gateway

logging:
  level:
    root: INFO
    com.asyncsite.iap.gateway: DEBUG
    com.asyncsite.tracing.logtrace.SafeJsonLogger: TRACE
    com.asyncsite.tracing.interceptor.GlobalTraceHandler: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
